/* 
    Project Name: DjangoBlog
    Author: Neha Kumari
    About: A Blog website for creating and publishing Blogs
    Technology Used: Django, HTML, CSS
    Developed with passion by Neha Kumari
*/

#container {
    width: 1000px;
    margin: 0 auto 0 auto;
    background: rgb(237, 245, 162);
}

#header {
    background: rgb(95, 244, 255);
    padding: 25px;
}

#main {
    padding: 25px;
}

#footer {
    padding: 25px;
}
