{% load static %}
<!DOCTYPE html>

<html>

    <head>
        <title>Blogs</title>
            <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <style>
        /* 
    Project Name: DjangoBlog
    Author: Neha Kumari
    About: A Blog website for creating and publishing Blogs
    Technology Used: Django, HTML, CSS
    Developed with passion by Neha Kumari
*/

#container {
    width: 1000px;
    margin: 0 auto 0 auto;
    background: rgb(237, 245, 162);
}

#header {
    background: rgb(95, 244, 255);
    padding: 25px;
}

#main {
    padding: 25px;
}

#footer {
    padding: 25px;
}
    </style>

    <body>
        <div id="container">

            <div id="header">
                <h1 style="text-align:center;">My Blogs</h1>
            </div> <!-- #header -->

            <div id="main">
                {% for post in all_posts %}
                    <div>
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.published_date }}</p>
                        <p>{{ post.text }}</p>
                    </div> 
                {% endfor %}
            </div> <!-- #main -->

            <div id="footer">
                <p>Created by <a href="https://github.com/Nehank1709" target="none">Neha Kumari</a> </p>
            </div>  <!-- #footer -->

        </div> <!-- #container -->

    </body>

</html>
